<article *ngIf="itemToDisplay?.title != null">
  <h2><a [attr.href]="itemToDisplay.url">{{ itemToDisplay?.title }}</a></h2>
  <div class="meta">
    <span *ngIf="itemToDisplay.domain != null">({{ itemToDisplay.domain }}) - </span>{{ itemToDisplay.score }} points by {{ itemToDisplay.user || itemToDisplay.by }}
  </div>

  <div *ngIf="itemToDisplay.comments == null ||itemToDisplay.comments.length === 0">
    No comments
  </div>
  <nghn-comment [comment]="c" *ngFor="let c of itemToDisplay.comments; trackBy: trackByFn">
  </nghn-comment>
</article>