<div class="pages">
  <a routerLink="./" [queryParams]="{page: prevPage}" [class.disabled]="page === 1" class="prev">&lt; prev</a>
  <span class="count">{{ page }}/{{pages || 0}}</span>
  <a routerLink="./" [queryParams]="{page: nextPage}" [class.disabled]="page === 10" class="next">next &gt;</a>
</div>

<section class="articles">
  <div class="loading" *ngIf="!isBrowser">
    <img src="/assets/angular.svg" alt="loading" width="50" height="50">
  </div>
  <div *ngIf="isBrowser">
    <article *ngFor="let c of content | async; let i = index; trackBy: trackByFn">
      <span class="no">
        {{ c.no }}
      </span>
      <div>
        <h2>
          <a [href]="c.url" *ngIf="mode !== 'ask'">{{ c.title }}</a>
          <a [routerLink]="['/item', c.id]" *ngIf="mode === 'ask'">{{ c.title }}</a>
        </h2>
        <div class="meta">
          {{ c.score }} points by {{ c.by }} {{ c.time_ago }} | <a [routerLink]="['/item', c.id]" class="c-link">{{ c.descendants }} comments</a>
        </div>
      </div>
    </article>
  </div>
</section>